{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">

        <div class="inner-wrap">
            <a id="content" tabindex="0"></a>

            {{ widgets('main_top') }}

            <div class="body-content">
                {# Output all fields, in the order as defined in the contenttype.
                To change the generated html and configure the options, see:
                https://docs.bolt.cm/templating/fields-tag #}
                {# {{ fields(template = 'partials/_sub_fields.twig') }} #}

                <h1 data-bolt-field="title">{{ record.title }}</h1>

                {% if record.image is defined and record.image is not empty %}
                <figure class="main-image-wrap">
                <img class="main-image" src="{{ thumbnail(record.image, 1600, 600, "c") }}" alt="" />
                {% if record.imagecaption is defined and record.imagecaption is not empty %}
                <figcaption>{{ record.imagecaption}}</figcaption>
                {% endif %}
                </figure>
                {% endif %}

                {% if record.teaser is defined and record.teaser is not empty %}
                <div class="introduction">
                {{ record.teaser }}
                </div>
                {% endif %}

                {{ fields(template = 'partials/_sub_fields.twig') }}

                {% setcontent clients = 'clients' %}
                {% if clients is defined and clients is not empty %}
                <ul class="clients">
                    {% for clients in clients|shuffle %}
                    <li>
                        {# {% if clients.website is defined and clients.website is not empty %}
                        <a href="{{ clients.website }}">
                        {% endif %} #}
                        {% if clients.image is not empty %}
                        <img src="{{ thumbnail(clients.image, 600, 600) }}" alt="clients.image.title" />
                        {% else %}
                            <img src="{{ image(settings.defaultimage, 600, 600) }}" />
                        {% endif %}
                        {# {% if clients.website is defined and clients.website is not empty %}
                        </a>
                        {% endif %} #}
                    </li>
                    {% endfor %}
                <ul>
                {% endif %}

                {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                {{ dump(record) }}
                #}
            </div>

            {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}
        </div>
    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}
