{% extends 'partials/_base.twig' %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">

        <div class="inner-wrap">
            <a id="content" tabindex="0"></a>

            {{ widgets('main_top') }}

            <div class="body-content">
                {# Output all fields, in the order as defined in the contenttype.
                To change the generated html and configure the options, see:
                https://docs.bolt.cm/templating/fields-tag #}
                {# {{ fields(template = 'partials/_sub_fields.twig') }} #}

                <h1 data-bolt-field="title">{{ record.title }}</h1>

                {% if record.image is defined and record.image is not empty %}
                <div class="main-image-wrap">
                {# <img class="main-image" src="{{ thumbnail(record.image, 1600, 600, "c") }}" alt="" />
                {% if record.imagecaption is defined and record.imagecaption is not empty %}
                <figcaption>{{ record.imagecaption}}</figcaption>
                {% endif %}
                </figure> #}
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.345755382394!2d4.324420215744146!3d52.07343547973208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b71c21ea00d1%3A0x73b85431a5e9a215!2sSpaarneplein+2%2C+2515+VK+Den+Haag!5e0!3m2!1sen!2snl!4v1530609331322" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                {% endif %}



                {% if record.teaser is defined and record.teaser is not empty %}
                <div class="introduction">
                {{ record.teaser }}
                </div>
                {% endif %}

                {{ fields(template = 'partials/_sub_fields.twig') }}

                {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                {{ dump(record) }}
                #}
            </div>

            {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}
        </div>
    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}
