{% extends 'partials/_base.twig' %}

{% block bodyclass %} home{% endblock %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
{# Make sure we can get info from both listings and single records: #}
{% if record is not defined and records is defined %}
    {% set record = records|first %}
{% endif %}
{% if record is defined and record.image is not empty %}
    {% set image = record.image ?: theme.frontpage_image %}
{% elseif theme.frontpage_image is defined %}
    {% set image = theme.frontpage_image %}
{% endif %}
{# <div class="headerimage" style="background-image:url({{image(image, 1920, 1080)}})"></div> #}
    {% if record is defined %}
        <section class="main-content">
            <a id="content" tabindex="0"></a>
            <h1 class="sr-only">{{record.title}}</h1>
            {% if settings.selectedprojects is defined and settings.selectedprojects is not empty %}
                <div class="{% if settings.selectedprojects|length > 1 %}cycle-slideshow {% endif %}project-images"{% if settings.selectedprojects|length > 1 %} data-cycle-fx="scrollHorz"
                        data-cycle-speed="1000" data-cycle-swipe=true
                        data-cycle-easing="easeOutExpo"
                        data-cycle-timeout="5000"
                        data-cycle-slides= "> .project-slide"
                        data-cycle-ease-out="easeOutExpo"
                        {% endif %}
                        >   
                {% for projectid in settings.selectedprojects|shuffle %}
                    <div class="project-slide">
                    {% setcontent project = "projecten/" ~ projectid %}
                        {# {{ dump(project) }} #}
                    <div class="project-slide_info">
                        <h2 class="project-slide_title"><a href="{{project.link}}">{{ project.title }}</a></h2>
                        <span class="project-slide_subtitle">{{ project.subtitle }}</span>
                    </div>
                    {% if project.imagelist is defined and project.imagelist|length > 0 %}
                    {% set image = project.imagelist|first %}
                        <img src="{{ thumbnail(image, 1600, 800, 'c') }}" alt="image.title" class="{% if loop|first %} first{% endif %}">
                    {% else %}
                        <img src="{{ thumbnail(settings.defaultimage, 1600, 800, 'c') }}"  alt="settings.defaultimage.title" class="" />
                    {% endif %}
                    </div>
                {% endfor %}
                {% if settings.selectedprojects|length > 1 %}
                <div class="cycle-pager"></div>
                <div class="cycle-prev"></div>
                <div class="cycle-next"></div>
                {% endif %}
                </div>
            {% endif %}

            {% if settings.introductiontext is defined and settings.introductiontext is not empty %}
                <div class="siteintroduction">
                    <div class="inner-wrap">
                        <p>{{ settings.introductiontext }}</p>
                        <a class="btn btn-big btn-arrow" href="/bureau">Lees meer over ons bureau</a>
                    </div>
                </div>
            {% endif %}

            <div class="body-content">
                <div class="inner-wrap">
                    {{record.body}}
                    <div class="half block-about to-fade-in">
                        <h2 class="">Collectief KOM36</h2>
                        <p>Informatie over collectief KOM 36. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. Sed ad rem redeamus;</p>
                        <p>Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. Sed ad rem redeamus; </p>
                        <a href="#" class="btn btn-arrow btn-light">Lees verder</a>
                    </div>
                    <div class="half block-latest-news to-fade-in">
                        <h2 class="">Nieuws</h2>
                        {% setcontent news = "berichten/latest/2" %}
                        <ul class="content-listing">
                            {% for newsitem in news %}
                            <li>
                                <article class="content-type-news content-teaser">
                                    <h3><a href="{{ newsitem.link }}">{{ newsitem.title }}</a></h3>
                                    <time datetime="{{ newsitem.datepublish|localdate("%Y-%m-%d") }}">{{ newsitem.datepublish|localdate("%A %e %B %Y") }}</time>
                                    <p>{{ newsitem.teaser }}</p>
                                    <a href="{{ newsitem.link }}" class="btn btn-arrow btn-readmore">Lees verder</a>
                                </article>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="main-content">
            <div class="inner-wrap">
                <a id="content" tabindex="0"></a>
                <h1 class="sr-only">No frontpage found!</h1>
                <div class="body-content">
                <p>No page has been set as the frontpage. Please create a page in the backend or set the frontpage to another type of content.
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}