<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <title>Bureau Imago | Martin Goudriaan - Stedelijke ontwikkeling en Planologie</title>
        <meta http_equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0" />

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png', 'theme') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png', 'theme') }}">
        <link rel="manifest" href="{{ asset('manifest.json', 'theme') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg', 'theme') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/screen.css', 'theme') }}" media="all" />

        <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">

    </head>

    <body class="page-maintenance">
        <header>
            <div class="inner-wrap">
                <a class="skipcontent" href="#content">Ga naar de inhoud</a>
            </div>
        </header>

        <main>
            <div class="inner-wrap">
                <section class="main-content">
                    <a id="content" tabindex="0"></a>
                    <div class="logotype"><span>I-MAGO</span></div>
                    <h1 class="sr-only">Bureau Imago | ing. Martin Goudriaan</h1>
                    <p class="tagline">Ruimtelijke ontwikkeling &amp; Planologie</p>
                    <div class="body-content">
                        <p>Wij werken momenteel aan onze nieuwe website. <br>Binnenkort komt deze online met een
                        overzicht van onze meest recente projecten.</p>
                        <p>Nu al nieuwsgierig? U kunt ons bereiken op:</p>
                        <div class="contact-details">
                            <p class="contact-information">
                            070-360 5678 / 06-14131491<br>
                            mail&shy;<span>@</span>bureau-imago.nl
                            </p>
                            <p class="address">
                            Oude Molstraat 36b<br>
                            2513 BB Den Haag
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <script src="{{ asset('dist/js/scripts.js', 'theme') }}"></script>

    </body>
</html>