{% extends 'partials/_base.twig' %}

{% block bodyclass %} page-type-project{% endblock %}

{% block aside_sidebar_first %}
{% endblock %}

{% block body %}
    <article class="main-content">

        <aside>
            <div class="{% if record.imagelist|length > 1 %}cycle-slideshow {% endif %}project-images"{% if record.imagelist|length > 1 %} data-cycle-fx="scrollHorz" data-cycle-swipe=true data-cycle-speed="1500" data-cycle-easing="easeOutExpo" data-cycle-ease-out="easeOutExpo"{% endif %}>
            {% if record.imagelist is defined and record.imagelist|length > 0 %}
                {% for image in record.imagelist %}
                <img src="{{ thumbnail(image, 1600, 800) }}" alt="image.title" class="cycle-slide{% if loop|first %} first{% endif %}">
                {% endfor %}
            {% else %}
                <img src="{{ image(settings.defaultimage, 1600, 800) }}" />
            {% endif %}
            {% if record.imagelist|length > 1 %}
                <div class="cycle-pager"></div>
                <div class="cycle-prev"></div>
                <div class="cycle-next"></div>
            {% endif %}
            </div>
        </aside>

        <div class="inner-wrap">
            <a id="content" tabindex="0"></a>

            {{ widgets('main_top') }}

            <h1 class="page-title{% if record.subtitle is defined and record.subtitle is not empty %} with-subtitle{% endif %}" data-bolt-field="title{% if record.subtitle is defined and record.subtitle is not empty %} with-subtitle{% endif %}">{{ record.title }}</h1>

            {% if record.subtitle is defined and record.subtitle is not empty %}
            <span class="sub-title">{{ record.subtitle }}</span>
            {% endif %}

            <div class="body-content">
                {# Output all fields, in the order as defined in the contenttype.
                To change the generated html and configure the options, see:
                https://docs.bolt.cm/templating/fields-tag #}
                {% if record.teaser is defined and record.teaser is not empty %}
                <div class="introduction">
                {{ record.teaser }}
                </div>
                {% endif %}

                {{ fields(template = 'partials/_sub_fields.twig') }}

                {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                {{ dump(record) }}
                #}
            </div>
            
            {% if (record.client is not empty) or (record.projectstatus is not empty) or (record.projecthousingnumber is not empty) or (record.projectdate is not empty) or (record.projectprogram is not empty) %}
            <aside class="project-details">
                <ul>
                    {% if record.client is not empty %}
                    <li>
                        <span class="projectdetail_label">Klant</span>
                        {{ record.client }}
                    </li>
                    {% endif %}
                    {% if record.projectstatus is not empty %}
                    <li>
                        <span class="projectdetail_label">Status</span>
                        {{ record.projectstatus }}
                    </li>
                    {% endif %}
                    {% if record.projectdate is not empty %}
                    <li>
                        <span class="projectdetail_label">Datum</span>
                        {{ record.projectdate }}
                    </li>
                    {% endif %}
                    {% if record.projectprogram is not empty %}
                    <li>
                        <span class="projectdetail_label">Programma</span>
                        {{ record.projectprogram }}
                    </li>
                    {% endif %}
                    {% if record.projecthousingnumber is not empty %}
                    <li>
                        <span class="projectdetail_label">Woningen</span>
                        {{ record.projecthousingnumber }}
                    </li>
                    {% endif %}
                </ul>
            </aside>
            {% endif %}

        {# {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %} #}
        </div>
    </article>
{% endblock %}

{% block aside_sidebar_second %}
{% endblock %}

{% block main_aside_one %}
{% endblock %}
