{% extends 'partials/_base.twig' %}
{% block bodyclass %} page-projecten{% endblock %}
{% setcontent records = 'projecten' %}

{% block aside_sidebar_first %}
    {# <aside class="sidebar sidebar-first">
    </aside> #}
{% endblock %}

{% block body %}

    <section class="main-content">

        <h1>{{ record.title }}</h1>

        <a id="content" tabindex="0"></a>
        {% if records %}
        <ul class="projects-listing">
        {% for record in records %}
            <li>
                <article class="content-type-project content-teaser">
                    <a href="{{ record.link }}">
                        <div class="content-teaser-info">
                            <h2 class="delta">{{ record.title }}</h2>
                        </div>
                        {% if record.imagelist is defined and record.imagelist is not empty %}
                        <img src="{{ image(record.imagelist|first, 1200, 700) }}" />
                        {% else %}
                        <img src="{{ image(settings.defaultimage, 1200, 700) }}" />
                        {% endif %}
                    </a>
                </article>
            </li>
        {% endfor %}
        {% endif %}

        {# If there are more records than will fit on one page, the pager is shown. #}
        {{ pager(template = 'partials/_sub_pager.twig') }}

    </section>
{% endblock %}

{% block aside_sidebar_second %}
    {# <aside class="sidebar sidebar-second">
    </aside> #}
{% endblock %}

{% block main_aside_one %}
    {# <aside>
        <div class="inner-wrap">
        </div>
    </aside> #}
{% endblock %}
