{% spaceless %}
{# This file might seem a little complex, because of the high density of tags.
   It uses Twig macros and ternary selectors. Read up on them, if required:
   macros: http://twig.sensiolabs.org/doc/templates.html#macros
   ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
#}

{# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
   invokes itself to insert the items of the submenus. #}
{% macro display_menu_item(item, loop) %}

    {% from _self import display_menu_item %}

    <li class="index-{{ loop.index }}
        {{ loop.first ? ' first' -}}
        {{ loop.last ? ' last' -}}
        {{ item.submenu|default(false) ? ' dropdown sub-menu' -}}
        {{ item|current ? ' active' }}
        {% if item.submenu is defined %}
            {% spaceless %}
            {% for menuitem in item.submenu %}
                {{ menuitem|current ? ' active-trail' }}
            {% endfor %}
            {% endspaceless %}
        {% endif %}
        ">

        <a href="{{ item.link }}" title='{{ item.title|default('')|escape }}' class='{{ item.class|default('') }}'>
            {{ item.label|default('-') }}
        </a>

        {% if item.submenu is defined %}
            <ul class="sub-menu-items">
                {% for submenu in item.submenu %}{{ display_menu_item(submenu, loop) }}{% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}

{# The main menu loop: Iterates over the items, calling `display_menu_item` #}
{% for item in menu %}
    {% if item.label is defined %}
        {{ display_menu_item(item, loop) }}
    {% endif %}
{% endfor %}

{% endspaceless %}
