// The _theme.scss file is where you put all your theming classes that make up the design you want to implement. As a general rule of thumb it's good practice to put a group of style declarations in it's own logical


.half {
    @include respond-to(medium-screens) {
        width: 50%;
        float: left;
        padding: 0 2rem 0 0;
    }
    & + .half {
        @include respond-to(medium-screens) {
        padding: 0;
        }
    }
}

.third {
    @include respond-to(large-screens) {
        width: 33%;
        float: left;
        padding: 0 2rem 0 0;
    }
    & + .third {
        padding: 0 2rem 0 0;
    }
    & + .third + .third {
        padding: 0;
    }
}

.two-third {
    @include respond-to(medium-screens) {
        width: 67%;
        float: left;
        padding: 0;
    }
}

.body-content > .introduction {
	font-weight: bold;
	font-size: 1.25rem;
}

.item-teaser {
	margin-bottom: 4rem;
	@extend %group;
	* a {
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	img {
		float: left;
		display: block;
		width: 48%;
		margin-right: 2%;
		margin-bottom: 1rem;
	}
}

.page-maintenance {
    background-color: $blue;
    color: $white;
    h1, h2, h3, span, p {
        color: $white;
    }
    .main-content {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .body-content {
        margin-top: 3rem;
        @include respond-to(xlarge-screens) {
            margin-top: 5rem;
        }
    }
    .contact-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
            margin: 1rem;
            text-align: center;
            @include respond-to(midmobile) {
                text-align: left;
            }
        }
    }
}