@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes btnoffsetarrowtoright {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    right: 0.99rem;
  }
  100% {
    right: 1.25rem;
    opacity: 0.2;
  }
}
 
.spinner {
  transition: 400ms padding ease-in-out;
  &:after {
    display: none;
  }
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: auto;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid $black;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
    right: 0.625rem;
  }
}

.blink {
    animation: blink 1s linear infinite;
}

.btnoffsetarrowtoright {
    animation: btnoffsetarrowtoright 1s linear infinite;
}