// Cycle 2 plugin slideshow styling
.gallery, .cycle-slideshow {
    @extend .group;
    margin-bottom: 0.625rem;
    .slide, .cycle-slide {
        display: block;
        width: 100%;
    }
}

.cycle-slideshow-pager, .cycle-pager {
    margin-bottom: 3rem;
    img  {
        cursor: pointer;
        margin-right:0.5rem;
    }
    .cycle-nav {
        color: $red;
        padding:0.25rem 0;
        &:link, &:visited {
            text-decoration: none;
        }
        &:hover, &:active, &:focus {

        }
    }
    .slideshow-count {
        padding:0.25rem 0;
        float:right;
        color: $grey;
    }
}

.project-images {
    position: relative;
    min-height: 130px;
    @include respond-to(medium-screens) {
        min-height: 350px;
    }
    img {
        background-color: $offWhite;
        width: 100%;
        max-width: none;
    }
}

.cycle-pager {
    z-index: 1000;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 0;
    @include respond-to(medium-screens) {
        position: absolute;
        bottom: 1rem;
        left: 0;
        z-index: 1000000;
    }
    @include respond-to(xlarge-screens) {
        margin-top: 0.625rem;
    }
    span {
        transition: all 200ms;
        font-size: 5rem;
        text-indent: -999px;
        display: inline-block;
        overflow: hidden;
        width: 0.625rem;
        height: 0.625rem;
        background-color: $darkGrey;
        border-radius: 50%;
        margin: 0 0.25rem;
        cursor: pointer;
        border: 1px solid $darkGrey;
        &:hover {
            background-color: darken($darkGrey, 10%);
        }
        @include respond-to(xlarge-screens) {
            width: 1rem;
            height: 1rem;
        }
    }
    .cycle-pager-active {
        border: 1px solid $grey;
        background-color: $white;
        cursor: default;
        &:hover {
            background-color: $white;
        }
    }
}

.cycle-prev, .cycle-next {
    display: none;
    position: absolute;
    height: 6rem;
    width: 2.25rem;
    z-index: 1000000;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
    @include respond-to(xlarge-screens) {
        display: block;
    }
    &:after {
        content: "";
        width: 2rem;
        height: 2rem;
        display: block;
        transform: rotate(45deg);
        border-top: 1px solid $grey;
        border-right: 1px solid $grey;
        position: relative;
        top: 2rem;
        left: -0.25rem;
    }
    &:hover {
        &:after {
            border-color: $black;
        }
    }
}

.cycle-next {
    left: auto;
    right: 1rem;
    transform: translateY(-50%) rotate(360deg);
}
