img {
  // responsive images
  max-width:100%;
}

figure {
    margin: 0 0 2.5rem;
    text-align: center;
    figcaption {
        text-align: left;
        color: #999;
        font-size: 0.75rem;
    }
    > div {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 3rem;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
