/**
 * File:        _navigation.scss
 * Description: _navigation.scss for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

.toggle-btn-wrap {
    @extend .group;
    position: absolute;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    right: 0;
    left: auto;
    top: 0;
    width: auto;
    top: 1rem;
}

.toggle-menu {
    float:left;
    display:none;
    margin-right:1em;
    border: 1px solid $lightGrey;
    background-color: $white;
    color: $grey;
    padding: 0.25rem 0.625rem;
    &:hover, &:active, &:focus, &.toggle-active {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
    @include respond-to(medium-screens) {
        display:none;
    }
}

.toggle-search {
    float:right;
    display:none;
    @include respond-to(medium-screens) {
        display:none;
    }
}

nav {
    // border-bottom:1px solid $grey;
    // padding-top: 1rem;
    @extend .group;
    @include respond-to(medium-screens) {
        padding-bottom: 0;
        position: relative;
        display: block;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 1rem;
        overflow: visible;
    }
    @include respond-to(xlarge-screens) {
        float: left;
        margin-top: 0.625rem;
        padding-top: 0;
    }
    .menu {
        float:left;
        width:100%;
        margin: 1rem auto 0;
        @include respond-to(medium-screens) {
            //width: calc(100% - 290px);
            margin: 0 auto;
            display: flex!important;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            float: none;
            width: auto;
            position: relative;
            overflow: visible;
        }
        @include respond-to(xlarge-screens) {
            align-items: left;
            float: right;
            justify-content: flex-end;
            margin-right: 1rem;
            min-width: 600px;
        }
    }
    .inner-wrap {
        padding: 0;
        position: inherit;
        @include respond-to(medium-screens) {
            padding: 0 0.625rem;
        }
        @include respond-to(large-screens) {
            padding: 0 1.125rem;
        }
        @include respond-to(large-screens) {
            max-width: $site-max-width;
            //padding: 0 0.625rem;
            margin:0 auto;
        }
    }
    ul {
        padding:0;
        overflow:hidden;
        width: 100%;
        margin: 0 0 0.125rem;
        @include respond-to(medium-screens) {
            margin-bottom:0;
            overflow: visible;
            position: relative;
        }
        ul {
            width: 100%;
            @include respond-to(medium-screens) {
                display: none;
                position: absolute;
                top: 1.75rem;
                left: 0;
            }
        }
    }
    li {
        list-style: none;
        float: none;
        //position: relative;
        a {
            padding: 0.5em 0.75em; 
            display:block;
            margin:0;
            color: $white;
            text-transform: uppercase;
            font-size: 0.9375rem;
            font-family: $baseHeaderFontFamily;
            transition: all 200ms;
            @include respond-to(medium-screens) {
                padding: 0.125rem;
                margin: 0 0.8125rem;
                float: left;
                font-size: 0.875rem;

            }
            &:link, &:visited {
                color: $darkGrey;
                text-decoration: none;
                @include respond-to(medium-screens) {
                    background-color: transparent;
                    border-bottom: 1px solid $white;
                    color: $grey;
                }
            }
            &:hover, &:active, &:focus {
                color: $black;
                background-color: lighten($lightGrey, 10%);
                @include respond-to(medium-screens) {
                    background-color: transparent;
                    border-bottom: 1px solid $black;
                }
            }
            &.active {
                background-color: lighten($lightGrey, 10%);
            }
        }
        &.active-trail {
            > a {
                &:link, &:visited {
                    color: $black;
                }
            }
        }
        &.active {
            > a {
                &:link, &:visited {
                    color: $black;
                    background-color: lighten($lightGrey, 10%);
                    @include respond-to(medium-screens) {
                        border-bottom: 1px solid $black;
                        background-color: transparent;
                    }
                }
            }
        }
        li {
            @include respond-to(medium-screens) {
                float: left;
            }       
            a {
                font-size: 0.75rem;
                padding-left: 1.25rem;
                @include respond-to(medium-screens) {
                    padding-left: 0;
                } 
            }
        }
        &.active, &.active-trail {
            ul {
                @include respond-to(medium-screens) {
                    display: flex;
                    justify-content: center;
                }
                @include respond-to(xlarge-screens) {
                    justify-content: flex-end;
                }  
            }
        }
    }
    .expanded {
        //border-bottom: 1px solid $lightGrey;
        @include respond-to(medium-screens) {
            border: 0;
        }
    }
}

.menu {
    //margin-bottom: 0;
    padding-left: 0;
    li {
        list-style : none;
    }
}

.menu_block {
    margin-bottom: $baseBottomMargin;
}

.secondary-menu, .meta-menu {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    @include respond-to(medium-screens) {
        float:right;
    }
    @include respond-to(large-screens) {
        position:absolute;
        bottom:0;
        right:0;
        left:auto;
        top:auto;
    }
    li {
        list-style: none;
        float:left;
        a {
            padding:0.5em; 
            display:block; 
        }    
    }
}

.pager {
    list-style: none;
    padding: 0;
    margin-bottom: $baseBottomMargin;
    li {
        padding: 0;
        margin: 0;
        float: left;
        margin: 0 0.25rem 0.25rem 0;
        &.prev, &.next {
            a {
                min-width: 5rem;
            }
        }
    }
    a {
        display: block;
        text-align: center;
        padding: 0.5rem 0.625rem;
        border: 1px solid $lightGrey;
        background-color: $lightGrey;
        min-width: 2.5rem;
        &:link, &:visited {
            text-decoration: none;
            color: $darkGrey;
        }
        &:hover, &:active, &:focus, &.active {
            background-color: $white;
            color: $grey;
        }
    }
}

.menu-footer {
    a {
        transition: all 100ms;
        font-family: $baseHeaderFontFamily;
        font-weight: 700;
        font-size: .75rem;
        text-transform: uppercase;
        &:link, &:visited {
            color: $darkGrey;
            text-decoration: none;
        }
        &:hover, &:active, &:focus {
            border-bottom: 1px solid $grey;
            text-decoration: none;
        }
    }
}