.content-type-news {
	&.content-teaser {
		margin-bottom: 2rem;
	}
	h3 {
		margin-bottom: 0;
		font-size: 1.125rem;
		font-weight: 400;
	}
	time {
		font-family: $baseHeaderFontFamily;
		font-size: 0.7rem;
		text-transform: uppercase;
		display: block;
		margin-bottom: 0.625rem;
	}
	p {
		margin-bottom: 0.625rem;
	}
	.btn {
		@extend .btn-light;
		font-family: $baseHeaderFontFamily;
		margin-bottom: 0;
	}
}

.block-latest-news {
	overflow: hidden;
	h2 {
		font-size: 1.75rem;
		// color: #aaa;
		margin-bottom: 0.4rem;
	}
	h3 {
		font-weight: 200;
		a {
			color: $black;
			&:link, &:visited {
				color: $black;
				text-decoration: none;
			}
			&:active, &:focus, &:hover {
				text-decoration: underline;
			}
		}
	}
	.content-listing {
		margin-bottom: 0;
	}
}