.projects-listing {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    @include respond-to(small-screens) {
        flex-direction: row;
    }
    li {
    	margin-bottom: 1rem;
        flex: 0 1 50%;
        border: 1px solid $white;
        @include respond-to(large-screens) {
        	margin-bottom: 0;
            flex: 0 1 33.333%;
        }
    }
    &.hidden-items {
    	article {
        	opacity: 0;
        }
    }
}

.content-type-project {
	&.content-teaser {
	    margin: 0;
	    position: relative;
	    overflow: hidden;
	    img {
	        position: relative;
	        float: none;
	        margin: 0;
	        padding: 0;
	        width: 100%;
	        transition: all 500ms;
	    }
	    .content-teaser-info {
	        position: absolute;
	        bottom: 0;
	        left: 0;
	        z-index: 1;
	        width: 100%;
	    }
	    h2 {
	    	padding: 0.4rem 0.625rem;
	    	text-align: left;
	    	position: relative;
	    	margin: 0;
	    	color: $white;
	    	z-index: 1;
	    	font-weight: normal;
	    	font-family: $baseHeaderFontFamily;
	    	font-size: 0.875rem;
	    	text-transform: uppercase;
	    	@include respond-to(xlarge-screens) {
	    		padding: 0.4rem 1.25rem;
	    	}
	        &:after {
	        	content: "";
	        	width: 100%;
	        	height: 100%;
	        	display: block;
	        	background-color: $black;
	        	position: absolute;
	        	top: 0;
	        	left: 0;
	        	opacity: 0.5;
	        	z-index: -1;
	        	transition: all 500ms;
	        }
	    }
	    a {
	    	&:link, &:visited {

	    	}
	    	&:hover, &:active, &:focus {
	    		img {
	    			transform: scale(1.05);
	    		}
	    		h2 {
	    			&:after {
	    				opacity: 0.7;
	    			}
	    		}
	    	}
	    }
	}
}

.project-slide_info {
	position: absolute;
	bottom: 1rem;
	margin: 0 0.625rem;
	background-color: $white;
	padding: 0.25rem 0.625rem;
	opacity: 0.9;
	@include respond-to(medium-screens) {
		bottom: 3rem;
		left: 2rem;
	}
	@include respond-to(large-screens) {
		bottom: 4rem;
	}
}

.project-slide_title {
	font-size: 1rem;
	margin-bottom: 0.125rem;
	@include respond-to(medium-screens) {
		font-size: 2rem;
	}
	a {
		&:link, &:visited {
			color: $black;
			text-decoration: none;
		}
		&:active, &:focus, &:hover {
			//text-decoration: underline;
			border-bottom: 1px solid #ccc;
		}
	}
}

.project-slide_subtitle {
	font-size: 0.75rem;
	margin-bottom: 0.125rem;
	display: block;
	font-weight: 200;
	text-transform: uppercase;
	font-family: $baseHeaderFontFamily;
}

// the aside with project-details
.project-details {
	padding-top: 1rem;
	width: 100%;
	@include respond-to(large-screens) {
	float: left;
	clear: none;
	width: 28%;
	margin-left: 2rem;
	border-top: 0;
	padding-top: 0;
	}
	@include respond-to(xlarge-screens) {
	width: 30%;
	margin-left: 3rem;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			//font-size: 0.875rem;
			font-family: $baseHeaderFontFamily;
		}
	}
}

.projectdetail_label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	font-family: $baseHeaderFontFamily;
	@include respond-to(midmobile) {
		width: 120px;
	}
	@include respond-to(large-screens) {
		width: 100px;
	}
}