.half {
    @include respond-to(medium-screens) {
        width: 50%;
        float: left;
        padding: 0 2rem 0 0;
    }
    & + .half {
        @include respond-to(medium-screens) {
        padding: 0;
        }
    }
}

.third {
    @include respond-to(large-screens) {
        width: 33%;
        float: left;
        padding: 0 2rem 0 0;
    }
    & + .third {
        padding: 0 2rem 0 0;
    }
    & + .third + .third {
        padding: 0;
    }
}

.two-third {
    @include respond-to(medium-screens) {
        width: 67%;
        float: left;
        padding: 0;
    }
}

.body-content {
    overflow: visible;
}

.body-content > .introduction {
	font-weight: bold;
	font-size: 1.25rem;
}

.content-teaser {
	margin-bottom: 4rem;
	@extend %group;
	* a {
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	img {
		float: left;
		display: block;
		width: 48%;
		margin-right: 2%;
		margin-bottom: 1rem;
	}
}

.page-maintenance {
    background-color: $blue;
    color: $white;
    h1, h2, h3, span, p {
        color: $white;
    }
    .main-content {
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    .body-content {
        margin-top: 3rem;
        @include respond-to(xlarge-screens) {
            margin-top: 5rem;
        }
    }
    .contact-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        p {
            margin: 1rem;
            text-align: center;
            @include respond-to(midmobile) {
                text-align: left;
            }
        }
    }
}

.siteintroduction {
    margin: 1rem auto 4rem;
    padding: 1rem;
    @include respond-to(small-screens) {
        margin-top: 2rem;
    }
    @include respond-to(large-screens) {
        margin-top: 3rem;
    }
    .inner-wrap {
        @include respond-to(large-screens) {
            width: 85%;
            max-width: 800px;
        }
    }
    p {
        font-size: 1.125rem;
        text-align: center;
        font-family: $baseHeaderFontFamily;
        font-weight: 300;
        margin-bottom: 0.75rem;
        @include respond-to(medium-screens) {
            font-size: 1.3rem;
        }
        @include respond-to(xlarge-screens) {
            font-size: 1.5rem;
        }
    }
    .btn {
        text-transform: uppercase;
        font-family: $baseHeaderFontFamily;
        float: none;
        display: block;
        width: 250px;
        margin: 0 auto;
        border: 1px solid $grey;
        color: $grey;
        &:link, &:visited {
            background-color: $white;
        }
        &:hover, &:active, &:focus {
            background-color: $white;
            border-color: $black;
            color: $black;
            transform: scale(1.04);
        }
        &:after {
            @extend .blink;
        }
        // &:hover, &:active, &:focus {
        //     &:after {
        //         @extend .btnoffsetarrowtoright;
        //     }
        // }
    }
}

.endtro {
    max-width: 480px;
    @include respond-to(large-screens) {
        float: right;
    }
}

.content-listing {
    list-style: none;
    padding: 0;
}

.block-about {
    overflow: hidden;
    margin-bottom: 2.5rem;
    h2 {
        // color: #aaa;
    }
}

.main-image-wrap {
    @include respond-to(xlarge-screens) {
        margin: 0 -2rem 2rem;
        width: calc(100% + 4rem);
    }
}

figcaption {
    font-family: $baseHeaderFontFamily;
    text-transform: uppercase;
    color: $grey;
    font-size: 0.75rem;
    @include respond-to(xlarge-screens) {
        margin: 0 2rem;
    }
}

.partners, .clients {
    list-style: none;
    margin: 0 0 2.5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        padding: 0.125rem;
        overflow: hidden;
        flex: 0 1 50%;
        @include respond-to(small-screens) {
            flex: 0 1 33%;
        }
        @include respond-to(medium-screens) {
            flex: 0 1 25%;
        }
        img {
            display: block;
            transition: all 200ms;
        }
        a {
            display: block;
            overflow: hidden;
            &:hover, &:visited {
                img {
                transform: scale(1.1);
                }
            }
        }
    }
}

.block-about {
    overflow: hidden;
    h2 {
        font-size: 1.75rem;
        // color: #aaa;
        margin-bottom: 0.4rem;
    }
}

