/**
 * File:        _typography.scss
 * Description: _typography.scss for makeitso 
 * Author:      Sebastiaan Bonardt - @_sebbon
 */

/* Split up webfont definitions for weights and styles. Be sure to declare
 * proper fallback fonts for your serif's or non-serifs, and use corresponding
 * font-weights and styles throughout your styles!
 */

// @font-face { 
//     font-family: "yourFont"; 
//     src: url("../path/yourFont.eot"); 
//     src: url("../path/yourFont.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFont.woff") format("woff"),
//     url("../path/yourFont.svg#yourFont") format("svg"); 
//     font-weight: normal; 
//     font-style: normal;
// } 
// @font-face { 
//     font-family: "yourFontBold"; 
//     src: url("../path/yourFontBold.eot"); 
//     src: url("../path/yourFontBold.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFontBold.woff") format("woff"),
//     url("../path/yourFontBold.svg#yourFont") format("svg"); 
//     font-weight: bold; 
//     font-style: normal;
// } 
// @font-face { 
//     font-family: "yourFontItalic"; 
//     src: url("../path/yourFontItalic.eot"); 
//     src: url("../path/yourFontItalic.eot?#iefix") format("embedded-opentype"),
//     url("../path/yourFontItalic.woff") format("woff"),
//     url("../path/yourFontItalic.svg#yourFont") format("svg"); 
//     font-weight: normal; 
//     font-style: italic;
// }

body {
    font-size:100%;
    font-family:$baseFontFamily;
    color:$baseFontColour;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    font-family:$baseHeaderFontFamily;
    color:$baseFontHeaderColour;
    margin-bottom: 0.625em;
    line-height: 1.25;
    font-weight: 200;
    display: block;
    text-transform: uppercase;
}

h1, .alpha {
    font-size: 1.5rem;
    @include respond-to(medium-screens) {
        font-size: 2rem;
    }
}

.page-title {
    @extend .alpha;
    &.with-subtitle {
        margin-bottom: 0;
    }
}

.sub-title {
    font-size: 0.875rem;
    display: block;
    margin-bottom: 1rem;
    font-family: $baseHeaderFontFamily;
    font-weight: 200;
    text-transform: uppercase;
    @include respond-to(large-screens) {
        font-size: 1rem;
    }
}

h2, .beta {
    margin-bottom: 0.45em;
    font-size: 1.25rem;
    @include respond-to(medium-screens) {
        font-size: 1.5rem;
    }
}

h3, .gamma {
    font-size: 1.125rem;
    margin-bottom: 0.125em;
    @include respond-to(medium-screens) {
        font-size: 1.25rem;
    }
}

h4, .delta {
    font-size: 1rem;
    @include respond-to(medium-screens) {
        font-size: 1.125rem;
    }
}

h5, .epsilon {
    font-size: 1rem;
    font-weight: normal;
}

.logotype {
    span {
        text-transform: uppercase;
        font-family: $baseHeaderFontFamily;
        font-size: 4.5rem;
        font-weight: 700;
        margin: 0 auto;
    }
}

.tagline {
    font-family: $baseHeaderFontFamily;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}

.contact-information, .address {
    //font-size: 0.75rem;
    font-family: $baseHeaderFontFamily;
}

p, ul, ol, dl {
    margin:0 0 1.5em 0;
    font-size: 0.9375rem;
}

p, pre, blockquote, table {
    font-weight: 300;
}

ul {
    @extend .group;
    padding:0 0 0 1rem;
    margin:0 0 $baseBottomMargin;
    li {
        padding:0;
        margin:0;
    }
    footer & {
        list-style: none;
        padding: 0;
    }
}

ol {
    @extend .group;
    margin:0 0 $baseBottomMargin;
}

li ol, li ul {
    margin-top:0.5em;
}

ol ol li:last-child {
    margin-bottom:0;
}

dl {
    @extend .group;
    padding:0;
    margin:0 0 $baseBottomMargin;
}

dt {
    font-weight: bold;
    text-decoration: underline;
    &:after {
        content: ":";
    }
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}

blockquote {
    padding: 2rem 10% 3rem;
    // background-color:$lightGrey;
    display:inline-block;
    clear:both;
    color:$darkGrey;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 1rem auto 2.5rem;
    position: relative;
    text-align: center;
    @include respond-to(medium-screens) {
        padding: 3rem 15%;
        font-size: 1.35rem;
    }
    &:before, &:after {
        content: " ";
        border-top: 1px solid $lightGrey;
        position: absolute;
        top: 0.625rem;
        width: 50%;
        height: 1px;
        left: 25%;
    }
    &:after {
        bottom: 0.625rem;
        top: auto;
        width: 30%;
        left: 35%;
    }
    p {
        margin:0;
        font-size: 1.25rem;
        color: $darkGrey;
        @include respond-to(medium-screens) {
            font-size: 1.35rem;
        }
    }
}

cite {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

a {
    text-decoration-skip: ink;
    &:link, &:visited {
        color: $baseLinkColour;
    }
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: darken($baseLinkColour, 20%);
    }
    h1 &, h2 &, h3 &, h4 &, h5 & {
        &:hover, &:active, &:focus {
            text-decoration: underline;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;
    margin-bottom: $baseBottomMargin;
    caption {
      text-align: center;
      border-bottom: 1px solid $grey;
      padding-bottom: 0.25em;
      margin-bottom: 0.25em;
      font-weight: bold;
    }
  }

button, .btn {
    background-color: $lightGrey;
    border: 0;
    color: $black; 
    float: left;
    display: block;
    padding: 0.5em 0.8125em 0.375em;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    transition: all 200ms;
    font-family: $baseHeaderFontFamily;
    &:link, &:visited {
        text-decoration:none;
        color:$white; 
    }
    &:hover, &:active, &:focus {
        background-color: $darkGrey;
    }
    &:active {
        top: 1px;
        left: 1px;
        position: relative;
        background-color: $black;
    }
}

.btn-light {
    background-color: $white;
    border: 1px solid $grey;
    &:link, &:visited {
        color: $grey;
    }
    &:hover, &:active, &:focus {
        color: $black;
        background-color: $white;
        border-color: $black;
    }
}

.btn-arrow {
    padding-right: 1.5rem;
    position: relative;
    transition: all 200ms;
    &:after {
        transition: all 200ms;
        content: "";
        position: absolute;
        z-index: 2;
        right: 0.875rem;
        border-top: 1px solid $grey;
        border-right: 1px solid $grey;
        width: 0.38rem;
        height: 0.38rem;
        transform: rotate(45deg) translateY(-50%);
        top: 50%;
    }
    &:hover, &:active, &:focus {
        &:after {
            border-color: $darkGrey;
        }
    }
    &.btn-big {
        padding-right: 1.5rem;
        &:after {
            right: 1.125rem;
            width: 0.55rem;
            height: 0.55rem;
        }
    }
}

.btn-big {
    font-size: 0.875rem;
}

ul {
    &.stripped {
        padding: 0;
        margin: 0 0 $baseBottomMargin;
        list-style: none;
        li {
            margin: 0;
        }
    }
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.tagline {
    font-size: 1rem;
    color: $grey;
}

.footertext {
    font-family: $baseHeaderFontFamily;
    font-weight: normal;
    color: $darkGrey;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.read-more {
    .content-teaser & {
        font-size: 0.75rem;
        font-family: $baseHeaderFontFamily;
        text-transform: uppercase;
    }
}

.introduction {
    p {
        font-weight: bold;
    }
}